<div class="tasks-container container">
    <p class="tasks-title">Lista de tareas</p>
    <div class="d-flex justify-content-between align-items-start align-items-lg-center mt-5 flex-column-reverse flex-lg-row gap-4">
        <div>
            <p>Filtros:</p>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="todas" checked  (click)="handleFilterTasks('todas')">
                <label class="btn btn-outline-dark" for="btnradio1">Todas</label>
              
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"  value="completadas"   (click)="handleFilterTasks('completadas')">
                <label class="btn btn-outline-dark" for="btnradio2">Completadas</label>
              
                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"  value="pendientes"  (click)="handleFilterTasks('pendientes')">
                <label class="btn btn-outline-dark" for="btnradio3">Pendientes</label>
              </div>
        </div>
        <div>
            <button class="btn btn-dark" (click)="handleGoToTaskForm()">Crear tarea</button>
        </div>

    </div>
    <div class="tasks-card-container mt-5">
        <div class="row">
            @for (task of tasks; track $index) {
                <div class="col-12 col-lg-4 mb-3">
                    <app-task-card [task]="task"></app-task-card>
                  </div>
            }
          </div>
    </div>
</div>